//COLOR

$color-primary: #0E9EF0;
$color-primary-light: #28B1FF;
$color-primary-dark: #056AA3;
$color-gray: #f7f7f7;
$color-white: #fff;
$color-text-gray: #858585;
$color-dark: #000;
$color-shadow: rgba($color-dark,.2);

//GRID

$grid-width: 114rem;
$gutter-width: 2rem;
$gutter-horizontal: 2rem;