.u-margin-top-big { margin-top: 6rem; }

.u-center-text { text-align: center; }

.u-margin-bottom-big { margin-bottom: 10rem; }

.u-margin-bottom-medium { margin-bottom: 4rem; }

.u-margin-bottom-small { margin-bottom: 2rem; }

.u-center { margin: 70% auto 0 0; }